@import url('fonts.css');
body{
	background-color: #5ac7a5;
}
.wrapper{
	max-width: 1920px;
}
.modal{
	max-width: 480px;
	margin: 0 auto;
	margin-top: 10%;
	background-color: #fff;
	border-radius: 7px;
}
.modal__body{
	padding: 33px 31px 32px 53px;
	display: flex;
}
.modal__form{
	margin: 0 26px 0 0;
	display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.modal__login, .modal__password{
	margin: 0 0 15px 0;
	border-radius: 5px;
}

.modal__login input, .modal__password input{
	padding: 10px 15px;
}
.modal__login input::placeholder, .modal__password input::placeholder{
	font: normal 'Helvetica Neue' 14px;
}
.modal__btn{
	padding: 13px 35px;
	background-color: #607bf3;
	border-radius: 5px;
	color: #fff;
	font: normal 'Helvetica Neue' 12px;
	text-transform: uppercase;
}
.modal__account a, .modal__reset a{
	color: #607bf3;
	font: normal 'Helvetica Neue' 12px;
}
.modal__account p, .modal__reset p{
	color: #828282;
	font: normal 'Helvetica Neue' 12px;
}
